<%- include("templates/header") %>

<div class="home-title">
    <h1>Thread Upload</h1>
</div>

<div class="profile-divider"></div>

<br>

<form action="/profile/upload/thread" method="POST" class="thread-info">
    <h3>Upload a Thread</h3>
    <input required placeholder="Title" type="text" name="thread_title" id="thread_title" class="thread-title">
    <textarea required placeholder="Description" name="thread_desc" id="thread_desc" cols="30" rows="10"></textarea>
    <button class="btn btn-success" type="submit">Upload</button>
</form>

<%- include("templates/footer") %>